<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DIUFoodieZone"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DIUFoodieSellerAdmin"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".presentation.main.PendingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.seller.SellerMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.main.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>